form {
    background-color: #F2B6A0;
    text-align: center;
    margin: 5px auto;
    border-radius: 10px;
    background-image: url("images/pexels-cesar-galeão-3253501.jpg");
    background-size: cover;
    background-size: contain;
    background-size: 100%;
    background-position: center;
    width: 50%;
}

input {
    padding: 5px;
    margin: 5px auto;
    border-radius: 5px;
    text-align: center;

}

label {
    color: #e04508;
    font-size: 1.2rem;
}

@media screen and (max-width: 900px) {
    form {
        width: 100%;
    }

}